// COLORS
$col-purple: #A729F5;
$col-navy: #313E51;
$col-darknavy: #3B4D66;
$col-greynavy: #626C7F;
$col-bluish: #ABC1E1;
$col-grey: #F4F6FA;
$col-green: #26D782;
$col-red: #EE5454;

// FONTS
$ff-rk: "Rubik", sans-serif;